.game-container {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 60%;
  transform: translateY(13vh);
  margin: 0 auto;
  background-color: #108ff7;
  color: white;
  font-size: 3.1vh;
  font-weight: 700;
  text-align: center;
  vertical-align: center;
}

.category {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
}

.category-name-container {
  min-width: 25%;
  display: table;
}

.question {
  display: table;
  height: 100%;
  min-width: 15%;
  border-left: 1px solid white;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
}

.category-name, .question__points {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.timer {
  position: absolute;
  left: 4vh;
  top: 4vh;
  display: inline-block;
}

.timer-heading {
  display: inline-block;
}