.header {
  width: 100%;
  background-color: blue;
}

.nav {
  width: 80%;
  height: 7vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  height: 50px;
}

.nav__item {
  margin: 25px;
  font-size: 1vw;
  font-weight: 700;
  color: white;
}

.start-button {
  padding: 0.6rem 1.2rem;
  color: blue;
  border-radius: 1.5em;
  border: none;
  font-family: inherit;
  font-size: 1vw;
  background-color: #ffcc13;
}
