.score {
  color: aliceblue;
  text-align: center;
}

.score__text {
  font-size: 2.5rem;
  color: $yellow;
}

.score__number {
  font-size: 2.5rem;
  color: $yellow;
}

.score-block {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.score__live-icon {
  height: 2.5rem;
}